@font-face {
    font-family: 'CodecPro';
    src: url('fonts/codec-pro-extrabold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #101728;
    font-family: 'CodecPro';

}

header a{
    /* font-family: 'CodecPro'; */
    text-decoration: none;
    color: #ffffff;
}

#btn-more{
    background: rgb(147,64,255);
    background: linear-gradient(90deg, rgba(147,64,255,1) 0%, rgba(255,60,95,1) 100%);
    border-radius: 50px;
}

.shadow-image{
    box-shadow: -20px 18px 100px #1f41bb;
    /* border-radius: 70px;
    width: 90%; */
}

p.h2{
    color: #9340ff;
}

img{
    border-radius: 70px;
    width: 90%;
}

.img2{
    height: 80%;
    width: 80%;
}

